@charset "utf-8";
body {
	font-family: "맑은 고딕", "굴림", "굴림체", "돋움", "돋움체";
	font-size: 9px;
	line-height: 150%;
	background-color: #D6D6D6;
	background-image: url(images/topbg.jpg);
	background-repeat: repeat-x;
	margin: 0px;
}
#wrap {
	width: 900px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
#wrap:after {
	content:'';
	display:block;
	clear:both;
}
#page_header {
	height: 102px;
	width: 900px;
}
#toplogo {
	float: left;
	height: 35px;
	width: 233px;
	margin-top: 37px;
}
#topnav {
	text-align: right;
	float: right;
	height: 22px;
	width: 500px;
	margin-top: 57px;
}
.mainimg {
	float: left;
	height: 414px;
	width: 900px;
}
.bannerset {
	clear: both;
	float: left;
	height: 127px;
	width: 900px;
	margin-top: 10px;
}
.banner1 {
	background-image: url(images/1nab.jpg);
	background-repeat: no-repeat;
	float: left;
	height: 100px;
	width: 160px;
	padding-top: 27px;
	padding-left: 140px;
}
.bannerset .banner1 a {
	color: #000;
	text-decoration: none;
}
#page_footer {
	color: #fff;
	background-color: #000;
	text-align: center;
	clear: both;
	float: left;
	height: 60px;
	width: 900px;
	margin-top: 10px;
	padding-top: 20px;
}

.banner2 {
	background-image: url(images/2nab.jpg);
	background-repeat: no-repeat;
	float: left;
	height: 100px;
	width: 160px;
	padding-top: 27px;
	padding-left: 140px;
}
.bannerset .banner2 a {
	color: #000;
	text-decoration: none;
}
.banner3 {
	background-image: url(images/3nab.jpg);
	background-repeat: no-repeat;
	float: left;
	height: 100px;
	width: 160px;
	padding-top: 27px;
	padding-left: 140px;
}
.bannerset .banner3 a {
	color: #000;
	text-decoration: none;
}

#popup4style {
	position: absolute;
	left: 371px;
	top: 141px;
	width: 380px;
	height: 400px;
	z-index: 1;
	visibility: hidden;
}




#page_center {
	width: 900px;
	margin-top: 10px;
}
#page_header:after {
	content:'';
	display:block;
	clear:both;
}
